{% extends "notes/layout.html" %}
{% block title %}Delete: <{{note.title}}>{% endblock title %}
{% block content %}
    <div class="container">
        <hr class="w-100">
        <h1 class="text-center text-danger">Deleting: {{note_uper}}</h1>
        <hr class="w-100">
        <form action="" method="post">
            {% csrf_token %}
        <table class="table table-bordered border-success table-hover rounded-3 border overflow-hidden p-0 m-0">
            <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ note.title }}</th>
                  <td>{{ note.date_created }}</td>
                  <td>{{ note.description }}</td>
                </tr> 
              </tbody>
          </table>
          <script>
            function show_alert(){
                alert('Data Deleted!')
            }
          </script>
          <input type="submit" value="DELETE" class="btn btn-danger mt-5 mb-5 form-control" onclick="show_alert()">
        </form>
    </div>
{% endblock content %}