<!DOCTYPE html>
{% load bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% load static %}
    <div class="container-fluid bg-dark">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand text-primary" href="{% url 'index' %}"><span><img src="{% static 'images/pic.png' %}" width="30" alt="Notes Pic" srcset="">&nbsp;</span>Techno Notes</a>
              <form class="d-flex" role="search">
              <a class="navbar-brand text-primary" href="{% url 'about' %}">About Us</a> | 
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    {% block content %}{% endblock content %}

    <div class="d-flex bg-dark justify-content-center pt-5" style="height:200px">
        <div class="footer container-fluid  h-100 text-center text-white">
            <small><i>All rights reserved @ <a href="http://freetechnoenterprises.com">freetechno enterprise</a> &copy;2024 </i></small>
        </div>
    </div>    
</body>
</html>